

.logo-img {
    width: 200px;
    height: 200px; 
}

.titulo-texto {
    font-size: 50px; 
    text-align: center;
    padding-top: 50px; 

}
.mi-icono {
    width: 50px;  
    height: 50px; 
}
.imagen-leyenda{
    width: 100px;
    height: 100px;
}
.mi-imagen {
    max-height: 300px;
    width: 500;
    object-fit: cover;
}
.img-footer {
    max-height: 30px;
    width: 30px;
}
.img-contactos {
    width: 50px;
    height: 50px;
}

